*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-image: linear-gradient(to bottom, cyan -100%, pink 50%, cyan 200%);
  background-repeat: no-repeat;
}

.heading{
  text-align: center;
  text-shadow: 2px 4px 3px cyan;
  margin-bottom: 65px;
  font-size: 2.5rem;
}

.heading2{
  margin-top: 25px;
}

.container{
  display: flex;
  justify-content: center;
  gap: 10%;
}

.btn{
  padding: 20px;
  border: 2px solid black;
  border-radius: 50px;
  background-color: #04cdfa;
}

.btn:hover{
  background-color: #04eafa;
}

.box{
  width: 90%;
  height: 44vh;
  border: 2px solid black;
  border-radius: 50px;
  text-align: center;
  background-color: #04eafa;
  margin-top: 80px;
  padding: 20px;
}

p{
  margin-top: 10px;
}

.blue{
  color: blue;
}
.r{
  background-color: rgb(210 127 210);
}

.leftBox, .rightBox{
  /* border: 1px solid black; */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.rightBox{
  align-items: flex-start;
}

